header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    box-shadow: 0 1px 8px #757575;
    background-color: #24252A;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
    padding: 0px 20px;
}

ul li a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

ul li a:hover {
    color: #0088a9;
}