* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.Home,
.Login,
.SignUp {
    display: flex;
    justify-content: center;
    padding: 30px 0px;
    flex-direction: column;
    align-items: center;
}